
@font-face {
  font-family: 'ProximaNovaCond-Bold';
  src: url('ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaCond-Bold.woff') format('woff'), url('ProximaNovaCond-Bold.ttf')  format('truetype'), url('ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
